:root {
  --primary-background: #0b132b;
  --text-primary: #e6f1ff;
}

body {
  background-color: var(--primary-background);
  color: var(--text-primary);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
